.fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

    /* adjust according to content width */
}

.animate-scroll {
    animation: scroll 16s linear infinite;
}